<header>
  <nav class="bg-gray-900 p-4">
    <div class="max-w-7xl mx-auto flex justify-between items-center">
        <div class="flex items-center">
            <span class="text-white text-lg font-bold">CricketInformation</span>
        </div>
        <div class="flex items-center space-x-6">
            <a [routerLink]="'./home'" href="#" class="text-white hover:text-gray-300">Home</a>
            <a [routerLink]="'./live'" href="#" class="text-white hover:text-gray-300">Live Matches</a>
            <a [routerLink]="'./history'" href="#" class="text-white hover:text-gray-300">History</a>
            <a [routerLink]="'./point-table'" href="#" class="text-white hover:text-gray-300">PointTable</a>
        </div>
    </div>
  </nav>
  <div></div>
</header>
<div class="px-28 py-8">
  <router-outlet></router-outlet>
</div>
<h1>Footer</h1>